# Linux Configuration
## Should be placed in `<KERNEL>/root/configs/`
## Used with `make my.config`

# https://wiki.qemu.org/Documentation/9psetup
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_NET_9P_DEBUG=y
CONFIG_9P_FS=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_PCI=y
CONFIG_VIRTIO_PCI=y

# https://github.com/google/syzkaller/blob/master/docs/linux/kernel_configs.md
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y

# https://stackoverflow.com/a/49835405/5464989
CONFIG_DYNAMIC_DEBUG=y

# https://www.kernel.org/doc/html/latest/dev-tools/gdb-kernel-debugging.html
CONFIG_GDB_SCRIPTS=y
CONFIG_RANDOMIZE_BASE=n
